<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IStudentService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:50001/StudentServiceEndPoint"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IStudentService"
                contract="IStudentService" name="NetTcpBinding_IStudentService">
                <identity>
                    <userPrincipalName value="WH1604064@wh.wistronits.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>